alembic==1.12.1
Flask==3.0.2
Flask_Cors==4.0.0
Flask_HTTPAuth==4.8.0
Flask_Login==0.6.3
Flask_Mail==0.9.1
Flask_Migrate==4.0.5
flask_sqlalchemy==3.1.1
jieba==0.42.1
matplotlib==3.8.0
numpy==1.26.4
opencv_contrib_python==4.8.1.78
PyJWT==2.8.0
PyJWT==2.8.0
scikit_learn==1.3.2
simhash==2.1.2
SQLAlchemy==2.0.23
torch==2.2.1
torchvision==0.17.1
Werkzeug==3.0.1
